.navbar {
  background-color: #161414;
  padding: 1.5rem 10vw;
  ul {
    margin-left: auto;
    a {
      padding: 0 1rem;
    }
    .nav-link:not(.active),
    li {
      color: #9e9e9e;
      :hover {
        color: #ebd700;
      }
    }
  }

  .navbar-brand,
  .active {
    color: #ebd700;
  }

  button {
    background-color: #9e9e9e;
  }
}

.footer-bg {
  background-image: url("../../assets/Footer.png");
  background-size: cover;
  background-position: center;
  bottom: 0;
  position: block;
  height: 100%;
  padding: 2rem;
  text-align: center;
  a {
    text-decoration: none;
    color: #161414;
  }
  .col {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  @media (max-width: 735px) {
    flex-direction: colun;
  }
}
