<section class="home">
  <div class="homecontent main-bg">
    <div class="col">
      <img src="../../assets/Teste-Phone.png" />
      <h3>Baixe agora nosso app!</h3>
      <a href="#"
        ><img
          src="../../assets/Download_on_the_App_Store_Badge_PTBR_RGB_blk_092917-1.svg"
      /></a>
      <a href="#"><img src="../../assets/google-play-badge-1.png" /></a>
    </div>
    <div class="col">
      <div class="row row-cols-2">
        <div class="col">
          <h3>Delivery</h3>
          <h3>2u</h3>
        </div>
        <h2>PARA TODO PEDIDO UMA ENTREGA!</h2>
      </div>
      <p>
        Aplicativo de compras de fácil usabilidade, tanto para o lojista quanto
        para nossos usuários. O app é bem intuitivo, com cores leves que ajudam
        os usuários no momentos da decisão de compra.Delivery2U foi desenvolvido
        para ajudar as empresas a aumentarem suas vendas e ajudar os usuários a
        realizarem compras no conforto da sua casa/escritório encontrando
        estabelecimentos com preços justos que possam realizar a entrega com
        maior segurança e pontualidade.
      </p>
    </div>
  </div>

  <main>
    <div class="circle-area">
      <div class="col">
        <div class="circle"></div>
        <h3>Lorem Ipsum</h3>
      </div>
      <div class="col">
        <div class="circle"></div>
        <h3>Lorem Ipsum</h3>
      </div>
      <div class="col">
        <div class="circle"></div>
        <h3>Lorem Ipsum</h3>
      </div>
    </div>
    <h2>Lorem Ipsum dolor sit amet, consectetur</h2>
    <div class="card card-left">
      <div class="card-body">
        <img src="../../assets/9525.png" />
        <div class="col">
          <h5 class="card-title">Usuário usuário</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            finibus ligula a ornare tincidunt. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Sed ex tortor,
            gravida a rhoncus sit amet, finibus ut mauris. Morbi iaculis eros
            vitae odio aliquet venenatis. Quisque non dignissim eros, vitae
            sagittis augue. Sed nunc eros, dapibus in elit vel, dictum feugiat
            diam. Sed lacinia hendrerit congue.
          </p>
        </div>
      </div>
    </div>
    <div class="card card-right">
      <div class="card-body">
        <div class="col">
          <h5 class="card-title">Usuário usuário</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            finibus ligula a ornare tincidunt. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Sed ex tortor,
            gravida a rhoncus sit amet, finibus ut mauris. Morbi iaculis eros
            vitae odio aliquet venenatis. Quisque non dignissim eros, vitae
            sagittis augue. Sed nunc eros, dapibus in elit vel, dictum feugiat
            diam. Sed lacinia hendrerit congue.
          </p>
        </div>
        <img src="../../assets/2968.png" />
      </div>
    </div>
    <div class="card card-left">
      <div class="card-body">
        <img src="../../assets/3061901.png" />
        <div class="col">
          <h5 class="card-title">Usuário usuário</h5>
          <p class="card-text">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris
            finibus ligula a ornare tincidunt. Orci varius natoque penatibus et
            magnis dis parturient montes, nascetur ridiculus mus. Sed ex tortor,
            gravida a rhoncus sit amet, finibus ut mauris. Morbi iaculis eros
            vitae odio aliquet venenatis. Quisque non dignissim eros, vitae
            sagittis augue. Sed nunc eros, dapibus in elit vel, dictum feugiat
            diam. Sed lacinia hendrerit congue.
          </p>
        </div>
      </div>
    </div>
    <h3>Baixe agora o nosso app!</h3>
    <a href="#"
      ><img
        src="../../assets/Download_on_the_App_Store_Badge_PTBR_RGB_blk_092917-1.svg"
    /></a>
    <a href="#"><img src="../../assets/google-play-badge-1.png" /></a>
  </main>

  <footer class="footer-bg">
    <div class="row">
      <div class="col">
        <a href="#"><p>Quem é Delivery2u</p></a>
        <a href="#"><p>Política e Privacidade</p></a>
        <a href="#"><p>Fale Conosco</p></a>
      </div>
      <div class="col">
        <a href="#"><p>falecom@delivery2u.com.br</p></a>
      </div>
      <div class="col">
        <a href="#"><p>falecom@delivery2u.com.br</p></a>
        <a href="#"><p>Seja um Parceiro de Entregas!</p></a>
        <a href="#"><p>Seja dono do Delivery2U na sua Cidade!</p></a>
      </div>
    </div>
  </footer>
</section>
