<section class="home">
  <img src="../../assets/register.svg" />

  <main>
    <h1>Cadastre sua loja!</h1>
    <form>
      <div class="col">
        <h3>Dados Pessoais</h3>
        <input required class="field" type="name" placeholder="Nome" />
        <input required class="field" type="name" placeholder="Sobrenome" />
        <input required class="field" type="email" placeholder="Email" />
        <input required class="field" type="number" placeholder="CPF" />
        <input required class="field" type="number" placeholder="RG" />

        <h3>Dados do Estabelecimento</h3>
        <input required class="field" type="number" placeholder="CNPJ" />
        <input
          required
          class="field"
          type="name"
          placeholder="Nome do responsável"
        />
        <input required class="field" type="name" placeholder="State" />
        <input required class="field" type="city" placeholder="Cidade" />
        <input required class="field" type="email" placeholder="Email" />
        <input required class="field" type="tel" placeholder="Telefone" />
        <input
          required
          class="field"
          type="name"
          placeholder="Ramo de atuação"
        />
        <select name="motoboy" class="field" placeholder="a">
          <option value="">Tem motoboy próprio?</option>
          <option value="yes">Sim</option>
          <option value="no">Não</option>
        </select>
        <select name="delivery" class="field" placeholder="a">
          <option value="">Atua com outro delivery?</option>
          <option value="yes">Sim</option>
          <option value="no">Não</option>
        </select>
        <div class="col">
          <input
            required
            type="checkbox"
            class="terms"
            name="terms"
            value="terms"
          />

          <label for="terms">
            Li e aceito os <a href="#"> termos do contrato</a></label
          >
        </div>
        <button type="submit">Enviar</button>
      </div>
    </form>
  </main>

  <footer class="footer-bg">
    <div class="row">
      <div class="col">
        <a href="#"><p>Quem é Delivery2u</p></a>
        <a href="#"><p>Política e Privacidade</p></a>
        <a href="#"><p>Fale Conosco</p></a>
      </div>
      <div class="col">
        <a href="#"><p>falecom@delivery2u.com.br</p></a>
      </div>
      <div class="col">
        <a href="#"><p>falecom@delivery2u.com.br</p></a>
        <a href="#"><p>Seja um Parceiro de Entregas!</p></a>
        <a href="#"><p>Seja dono do Delivery2U na sua Cidade!</p></a>
      </div>
    </div>
  </footer>
</section>
