.homecontent {
  height: 90%;
  padding: 6.5rem 10rem;
  align-items: center;
  text-align: center;
  justify-content: center;
  display: flex;

  p {
    margin-top: 2rem;
    text-align: left;
  }

  @media (max-width: 1135px) {
    padding: 0 2rem;
    flex-direction: column;
    img {
      width: 10rem;
    }
  }
}

main {
  background-image: url("../../assets/Squaresv2_2-1.png"),
    url("../../assets/Squaresv2_1-1.png");
  background-position: 85vw 50%, -35vw 50%;
  background-repeat: no-repeat, no-repeat;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 50vh;

  form {
    margin-top: 4rem;
    width: 55vw;
    background-color: #161414;
    border-radius: 2.5rem;

    .field {
      width: 90%;
      margin: 0.4rem;
      background-color: #323233;
      color: #ebd700;
      border-radius: 0.2rem;
    }

    label {
      margin-top: 3rem;
      margin-left: 1rem;
      color: #fff;
      a {
        color: #ebd700;
      }
    }

    button {
      background-color: #ebd700;
      border-radius: 1.9rem;
      padding: 0.3rem 30%;
      margin: 3rem 0 10rem 0;
      font-weight: bold;
    }

    @media (max-width: 950px) {
      width: 80vw;
    }
    @media (max-width: 600px) {
      width: 95vw;
    }
  }

  h3 {
    text-align: left;
    padding: 3vh 3vw;
    color: #ebd700;
  }
}
